@using JustASecond.DAL.Data.Models
@using JustASecond.DAL.Interfaces
@inject IUnitOfWork unitOfWork


@page "/waitercall/{tableID:int}/{_name}"

<link rel="stylesheet" href="/css/waitercall.css" />

@if(_products == null || _products.Count <= 0)
{
    <p><em>No Products avaliable</em></p>
}
else
{
    <div class="page-container">
        <div class="top-container">
            <h2>Hello, @_name!</h2>
        </div>

        @foreach(var item in _products)
        {
            <div class="menu-container">
                <div class="food-card">
                    <div class="card-image">
                        <img src="/images/food/@item.Image" />
                    </div>
                    <div class="card-description">
                        <h2>@item.Title</h2>
                        <p class="info-text">@item.Description</p>
                    </div>
                    <div class="card-price">
                        <button @onclick="() => AddToCart(item)" class="@_btncolorstyle">Add to cart</button>
                        <h3>@item.Price$</h3>
                    </div>
                </div>
            </div>
        }
        <div class="divider-container">

        </div>

        <div class="bottom-container">
            <button @onclick="CallWaiter" class="btn-bottom-navbar @_btncolorstyle">Waiter<i class="fa fa-bell-o" aria-hidden="true"></i></button>
            <button @onclick="GoToBasket" class="btn-bottom-navbar"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
        </div>
    </div>
}

@code {
    [Parameter]
    public int tableID { get; set; }
    [Parameter]
    public string _name { get; set; }

    private List<Product> _products;
    private Order _order = new Order();
    private string _added;
    private int _highestpositionnr;

    private string _btncolorstyle;

    protected async override Task OnInitializedAsync()
    {
        _products = (await unitOfWork.ProductRepo.GetAllProducts()).ToList();

    }

    private void CallWaiter()
    {
        //Index.tables[Index.tables.FindIndex(t => t.Id == tableID)].HasCalled = true;
        _btncolorstyle = "btn-successfull";
    }

    private async void AddToCart(Product product)
    {
        if(_order.Id != null)
        {
            _order.CreatedDate = DateTime.Now;
            unitOfWork.OrderRepo.AddOrder(_order);
            _highestpositionnr = _order.OrderPositions.Where(x => x.Product == product).Max(x => x.PositionNr) + 1;
        }
        else
        {
            _highestpositionnr = 1;
        }

        
        _order.OrderPositions.Add(new OrderPosition
            {
                Product = product,
                PositionNr = _highestpositionnr
            });
    }

    private async void GoToBasket()
    {
        await unitOfWork.OrderRepo.AddOrder(_order);
    }
}
